<p>Here are some RxJS examples. Click a button to expand the details and learn more.</p>

<button (click)="expandInterval()">See Interval Example</button>
<div *ngIf="showInterval">
    <p>The interval emits a sequential number on the specified interval. This example emits 10 numbers, one each second. For more information see the <a href="https://rxjs.dev/api/index/function/interval" target="_blank">Interval documentation</a>.</p>
    <ul>
        <li *ngFor="let number of numberList">{{number}}</li>
    </ul>
</div>
<button (click)="expandTimeout()">See Timeout Example</button>
<div *ngIf="showTimeout">
    <p>The timeout operator will error when an event is not emiited on schedule. For more information see the <a href="https://rxjs.dev/api/operators/timeout" target="_blank">Timeout documentation</a>.</p>
    <p>
        {{timeoutError.message ? timeoutError : '' }}
    </p>
</div>
<button (click)="expandCombineLatestWith()">See Combine Latest With Example</button>
<div *ngIf="showCombineLatestWith">
    <p>The combine latest with operator will combine the latest values from all passed observables and emit them. For more information see the <a href="https://rxjs.dev/api/operators/combineLatestWith" target="_blank">Combine Latest With documentation</a>.</p>
    <p>This example just adds numbers together every few milliseconds: </p>
    <p>
        {{combineLatestWithValue ? combineLatestWithValue : '' }}
    </p>
</div>
<button (click)="expandConcatMap()">See Concat Map Example</button>
<div *ngIf="showConcatMap">
    <p>The concat map operator will merge source observables to an output, waiting for each one to complete before merging the next value. For more information see the <a href="https://rxjs.dev/api/operators/concatMap" target="_blank">Concat Map documentation</a>.</p>
    <p>You can click the page to print another set of numbers.</p>
    <ul>
        <li *ngFor="let number of concatNumbers">{{number}}</li>
    </ul>
</div>
<button (click)="expandGenerate()">See Generate Example</button>
<div *ngIf="showGenerate">
    <p>The generate operator will create an observable using a state-driven loop and a scheduler to send the messages. For more information see the <a href="https://rxjs.dev/api/index/function/generate" target="_blank">Generate documentation</a>. Generate is an older, deprecated function.</p>
    <ul>
        <li *ngFor="let number of generatedNumbers">{{number}}</li>
    </ul>
</div>
