<p>Here are some RxJS examples. Click a button to expand the details and learn more.</p>

<button (click)="expandInterval()">See Interval Example</button>
<div *ngIf="showInterval">
    <p>The interval emits a sequential number on the specified interval. This example emits 10 numbers, one each second. For more information see the <a href="https://rxjs.dev/api/index/function/interval" target="_blank">Interval documentation</a>.</p>
    <ul>
        <li *ngFor="let number of numberList">{{number}}</li>
    </ul>
</div>
<button (click)="expandTimeout()">See Timeout Example</button>
<div *ngIf="showTimeout">
    <p>The timeout operator will error when an event is not emiited on schedule. For more information see the <a href="https://rxjs.dev/api/operators/timeout" target="_blank">Timeout documentation</a>.</p>
    <p>
        {{timeoutError}}
    </p>
</div>
<button (click)="expandCombineLatestWith()">See Combine Latest With Example</button>
<div *ngIf="showCombineLatestWith">
    <p>The combine latest with operator will combine the latest values from all passed observables and emit them. For more information see the <a href="https://rxjs.dev/api/operators/combineLatestWith" target="_blank">Combine Latest With documentation</a>.</p>
    <p>This example just adds numbers together every few milliseconds: </p>
    <p>
        {{combineLatestWithValue}}
    </p>
</div>
