li {
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

span {
    flex: 1;
    max-width: 418px;
}

.remove {
    flex: 1;
    max-width: 150px;
}

input {
    flex: 1;
    max-width: 400px;
}

button.save, button.edit {
    flex: 1;
    max-width: 150px;
}
